<link rel="stylesheet" href="/../styles/common.css">
<section class="welcome-page">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container main-title">
      <h1 class="display-4">SPARK CLEANING</h1>
      <p class="lead">Welcome to a life-changing moment. Spark Cleaning is an application for organizing and
        arranging your items. It is not about getting rid of the items you don't use or the items you don't need, but
        about realizing and comprehending the value you place and develop throughout time for each of them. You can keep
        all of your items but in an organized manner (much like an inventory), and know where the item location, in
        which
        category it stands, and, last but not least, how <strong>essential</strong> it is to you. Let's get this party
        started, you won't regret it!</p>
      <button class="start-button black-button btn btn-primary btn-lg">START ORGANIZING</button>
    </div>
  </div>
</section>
<footer>
  <div>

  </div>
</footer>