<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Let us Help you Bring joy to your life!</h2>
        <form class="clearfix mb-4" action="POST">
   
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/index">Home</a>
    
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/tiddytips">Tips</a>
    
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="/routes">List Generator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">more info</a>
  </li>
</ul> 
     
        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
