<link rel="stylesheet" href="/../styles/tips.css">
<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto" id="top">
      <header>
        <h1>Tips</h1>
      </header>
      <p>Here are some fabulouse tips on how to tidy</p>
    </div>
  </div>
  <div class="row" id="houserow">
    <div class="col-lg-8 mx-auto centered-flex">
      <img src="../images/kondo_main.png" width="800" height="560" id="house" alt="House" usemap="#housemap" />
      <div>
        <div class="house-second-floor">
          <button id="bedroom" class="house-button">Bedroom</button>
          <button id="closet" class="house-button">Closet</button>
          <button id="office" class="house-button">Office</button>
        </div>

        <div class="house-first-floor">
          <button id="kitchen" class="house-button">Kitchen</button>
          <button id="entrance" class="house-button">Entranceway</button>
          <button id="livingroom" class="house-button">Living Room</button>
          <button id="bathroom" class="house-button">Bathroom</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="inforow">
    <div class="col-lg-10 mx-auto centered-flex ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" class="carousel-control"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3>Bedroom/Joy Corner</h3>
            <ul>
              <li>Wash sheets and pillowcases frequently.</li>
              <li>Keep lighting soft and indirect.</li>
              <li>Designate a single storage space for hobby-related komono.</li>
              <li>If you pursue only a single interest, such as calligraphy, assign one place for everything related to
                it.</li>
              <li>Take photos of your children's art, only keep your favorite, discard the rest.</li>
              <li>Always save your mementos in a way that they can be enjoyed at any time, try putting them in a
                scrapbook.</li>
              <li>Designate a single storage space for hobby-related komono.</li>
            </ul>
          </div>
          <div class="carousel-item">
            <h3>Closet/Storage</h3>
            <ul>
              <li>Organize drawers in a manner similar to a Bento box; compact and cozy.</li>
              <li>Before thinking of where to store anything, first consider discarding it.</li>
              <li>Hang clothes so that they rise to the right.</li>
              <li>Light materials such as cotton should be kept in the upper drawers and thick, heavy materials, such as
                wool, in the lower drawers.</li>
              <li>In general, dark colors should be in the back of the drawer and light colors in the front.</li>
              <li>Arrange your accessories so that the inside of your drawer looks like a showcase.</li>
              <li>Avoid putting items in plastic bags because it will make them appear as garbage. Instead, put them in
                a beautiful bag you really like.</li>
            </ul>
          </div>
          <div class="carousel-item">
            <h3>Office</h3>
            <ul>
              <li>Valuables are the one category where practicality, not the joy factor, takes priority when selecting
                what to keep.</li>
              <li>Because they are valuable, they have a fair bit of pride and should be stored with respect.</li>
              <li>You can clear your mind simply by discarding all unnecessary papers. Keep the desk area relatively
                clear.</li>
              <li>Don't make your office solely practical. It's important to add a playful touch precisely because it's
                a work space.</li>
            </ul>
          </div>
          <div class="carousel-item">
            <h3>Kitchen</h3>
            <ul>
              <li>Make the dishes you love the ones you use every day. Unpack them and stack them in your cupboard.</li>
              <li>Place knives, forks, spoons, and chopsticks in their own compartments within a cutlery tray.</li>
              <li>Pick a cutlery tray made of rattan, bamboo, or some other natural material with a gentle embrace,
                rather than a plastic in which it will rattle around.</li>
              <li>When storing, stack similarly shaped items inside each other, such as pots with pots and bowls with
                bowls, so that you make the most of the cupboard's height.</li>
              <li>Nothing should be kept near the sink, not even your dish detergent or sponge.</li>
              <li>The basic rule is to discard anything that is past the expiration date.</li>
              <li>When in doubt, ask yourself whether it would spark joy to cook something with it.</li>
              <li>Store things together is a basic recommendation. For example, if you don't use small packages of
                seasonings that often, try emptying them into jars, one for each seasoning.</li>
              <li>Plastic bags should be flattened, folded, and stored upright just like clothes to prevent
                overstocking.</li>
              <li>You can also store plastic bags in a compact box that keeps them from expanding. The container should
                be half the size of a tissue box.</li>
            </ul>
          </div>
          <div class="carousel-item">
            <h3>Entranceway</h3>
            <ul>
              <li>Kee´p your entranceway as clear as possible.</li>
              <li>Leave out only the shoes you have worn that day to air them.</li>
            </ul>
          </div>
          <div class="carousel-item">
            <h3>Living Room</h3>
            <ul>
              <li>Have a fixed place for the remote control, magazines, and so on.</li>
              <li>Consider adding plants, music you love, and a special corner for family photos.</li>
            </ul>
          </div>
          <div class="carousel-item">
            <h3>Bathroom</h3>
            <ul>
              <li>If possible, store all your skincare products in one spot.</li>
              <li>Store makeup in a fabulous box or vanity bag.</li>
              <li>You can increase the relaxation effect significantlyby selecting a container made of natural material,
                such as rattan, and by using dividers. Even those towels that you are planning to use as rags, should be
                stored be folded and stored upright, not stuffed in a bag.</li>
              <li>If there's not enough space, you can make a special corner for them in your closet or on a shelf where
                you keep komono.</li>
                <li>Small items, such as samples, tubes of eye cream, and so on, can be stored neatly in a smallish box.</li>
            </ul>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

</div>