
$beige: #F9ECE0;
$black: #433E3F;
$blue: #9CAFB7;
$playfair: 'Playfair Display', serif;
$source: 'Source Sans Pro', sans-serif;
$black-border: 2px solid $black;
$relevant: 4rem;

.fa-times {
    cursor: pointer;
}

html {
    height: 100%;
}

body {
    color: $black;
    font: {
        family: $source;
    }
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: $playfair;
    }

}

.main-title h1 {
    font: {
        size: $relevant;
        weight: bold;
    }
}

.table {
    thead {
        border-color: $black;
        font-weight: bold;
    }
}

.your-items {
    h2 {
        font-weight: bold;
    }
}

button {
    background-color: $black;
}