.fa-times {
  cursor: pointer;
}

body {
  color: #433E3F;
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

.main-title h1 {
  font-size: 4rem;
  font-weight: bold;
}

.table thead {
  border-color: #433E3F;
  font-weight: bold;
}

.your-items h2 {
  font-weight: bold;
}

.left-col {
  border-top: 2px solid #433E3F;
  border-bottom: 2px solid #433E3F;
  border-right: 2px solid #433E3F;
}

.right-col {
  border-top: 2px solid #433E3F;
  border-bottom: 2px solid #433E3F;
  background: #F9ECE0 url("../../images/white-flower.png") center;
  background-size: cover;
}

.form-area {
  background: #F9ECE0;
  border: 20px solid white;
}

.form-area button {
  background-color: #433E3F;
}

.form-area form {
  border: 2px solid #433E3F;
  background-color: white;
}

.form-area input, .form-area select, .form-area textarea {
  background-color: #F9ECE0;
  color: #433E3F;
  border: 1px solid #433E3F;
}

.form-area input::-webkit-input-placeholder, .form-area select::-webkit-input-placeholder, .form-area textarea::-webkit-input-placeholder {
  color: #433E3F;
}

.form-area input:-ms-input-placeholder, .form-area select:-ms-input-placeholder, .form-area textarea:-ms-input-placeholder {
  color: #433E3F;
}

.form-area input::-ms-input-placeholder, .form-area select::-ms-input-placeholder, .form-area textarea::-ms-input-placeholder {
  color: #433E3F;
}

.form-area input::placeholder, .form-area select::placeholder, .form-area textarea::placeholder {
  color: #433E3F;
}

.form-area label {
  font-weight: bold;
}

.dropdown-area {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-area button {
  background-color: #433E3F;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating .star-group {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  padding: 0;
}

.rating .star-group:last-child {
  position: static;
}

.rating .star-group:nth-child(1) {
  z-index: 5;
}

.rating .star-group:nth-child(2) {
  z-index: 4;
}

.rating .star-group:nth-child(3) {
  z-index: 3;
}

.rating .star-group:nth-child(4) {
  z-index: 2;
}

.rating .star-group:nth-child(5) {
  z-index: 1;
}

.rating .star-group input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating .star-group .icon {
  float: left;
  color: transparent;
  cursor: pointer;
}

.rating .star-group:last-child .icon {
  color: #433E3F;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #5a6268;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #433E3F;
  text-shadow: 0 0 5px #F9ECE0;
}

.main-title h1 {
  background-color: #F9ECE0;
  border-bottom: 2px solid #433E3F;
}
/*# sourceMappingURL=filters.css.map */